@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border: 210 40% 96%;
  --input: 210 40% 96%;
  --ring: 217 91% 60%;
  --background: 0 0% 100%;
  --foreground: 217 33% 17%;
  --primary: 217 91% 60%;
  --primary-foreground: 210 40% 98%;
  --secondary: 217 32% 17%;
  --secondary-foreground: 210 40% 98%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 210 40% 98%;
  --muted: 210 40% 96%;
  --muted-foreground: 215 16% 47%;
  --accent: 217 91% 60%;
  --accent-foreground: 210 40% 98%;
  --popover: 0 0% 100%;
  --popover-foreground: 217 33% 17%;
  --card: 0 0% 100%;
  --card-foreground: 217 33% 17%;
  --radius: 0.5rem;
}

* {
  @apply border-border;
}

body {
  @apply bg-background text-foreground;
}

html {
  scroll-behavior: smooth;
}
